{% extends "page.html" %}

{% block favicon %}<link id="favicon" rel="shortcut icon" type="image/x-icon" href="{{static_url("base/images/favicon-notebook.ico") }}">{% endblock %}

{% block stylesheet %}

{% if mathjax_url %}
<script type="text/javascript" src="{{mathjax_url}}?config={{mathjax_config}}&delayStartupUntil=configured" charset="utf-8"></script>
{% endif %}
<script type="text/javascript">
// MathJax disabled, set as null to distinguish from *missing* MathJax,
// where it will be undefined, and should prompt a dialog later.

let ranges = [];
function upcoming_cells_checkbox_handler(cell_bool, from_bool, to_bool, start){
    let i = start + 1;
    try {
        while(!document.getElementById("checkbox-option2-" + i).checked){
            // Disable the "Cell" and the "from" checkboxes and enable the "to" checkbox for all cells before another from-to range
            checkboxes_switch(cell_bool, from_bool, to_bool, i);
            i++;
        }
    }catch (e) {
        // We'll only fall here once j exceeds the number of cells
    }
}

function checkboxes_switch(cell_bool, from_bool, to_bool, i){
    document.getElementById("checkbox-option1-" + i).disabled = cell_bool;
    document.getElementById("checkbox-option2-" + i).disabled = from_bool;
    document.getElementById("checkbox-option3-" + i).disabled = to_bool;
}

// This function checks if a cell id is between a from-to cell range
function is_in_range(id){
    for(let idx in ranges){
        let start = ranges[idx].from;
        let end = ranges[idx].to;
        if(id > start && id < end){
            let range = ranges[idx];
            ranges.splice(idx,1);   // Remove the range because another one will be created by the caller
            return range;
        }
    }
    return -1;
}

function checkbox_handler(id, value) {
    let elts = id.split('-');
    let j;
    id = elts.slice(-1)[0];
    id = parseInt(id);
    if(value === 'from'){
        // If the "from" of this cell is checked:
        if(document.getElementById("checkbox-option2-" + id).checked){
            // Uncheck any other option of this cell
            document.getElementById("checkbox-option1-" + id).checked = false;
            if(id !== 1)    // This is because the first cell does not have the "to" checkbox
                document.getElementById("checkbox-option3-" + id).checked = false;
            upcoming_cells_checkbox_handler(true, true, false, id);
        }
        // If the "from" of this cell is unchecked, just revert what it did when it was checked
        else{
            upcoming_cells_checkbox_handler(false, false, true, id);
        }
    }
    else if(value === 'to'){
        // If the "to" is checked
        if(document.getElementById("checkbox-option3-" + id).checked){
            let start;
            // Uncheck all other options of this cell
            document.getElementById("checkbox-option1-" + id).checked = false;
            document.getElementById("checkbox-option2-" + id).checked = false;
            // Check if the selected "to" belongs to a cell within from-to range; that means we're trying to shorten the from-to range
            let range = is_in_range(id);
            console.log(range);
            if(range !== -1){
                j = id;
                // uncheck the "cell" option for all cells between the new "to" and the old "to", and enable their "from" checkbox
                do{
                    j++;
                    console.log(range.to)
                    console.log(j)
                    document.getElementById("checkbox-option1-" + j).checked = false;
                    document.getElementById("checkbox-option2-" + j).disabled = false;
                    // Uncheck the old "to"
                    if(j === range.to)
                        document.getElementById("checkbox-option3-" + j).checked = false;
                }while(j !== range.to);
                start = range.from;
            }
            // Else, this selected "to" is either meant to close a selected "from" or to extend a preselected from-to range
            else{
                // Disable the "Cell" and the "from" checkboxes and enable the "to" checkbox for all cells before another from-to range
                upcoming_cells_checkbox_handler(false, false, false, id);
                j = id;
                // While a "from" is not found, do the following on intermediate cells
                do{
                    try{
                        j--;
                        if(document.getElementById("checkbox-option2-" + j).checked){
                            // The start of the range cannot be unchecked or changed to another checkbox option
                            document.getElementById("checkbox-option1-" + j).disabled = true;
                            document.getElementById("checkbox-option2-" + j).disabled = true;
                            document.getElementById("checkbox-option3-" + j).disabled = true;
                            break;
                        }
                        document.getElementById("checkbox-option1-" + j).disabled = false;     // Enable the "cell" option as it can be deselected by the user later
                        document.getElementById("checkbox-option1-" + j).checked = true;       // Check the "cell" option
                        // If a "to" is encountered uncheck it and break
                        // This is the case where the user tries to extend a cell range
                        if(document.getElementById("checkbox-option3-" + j).checked){
                            document.getElementById("checkbox-option3-" + j).checked = false;
                            // Delete from the ranges array the range that has j as the ending cell
                            let del_idx = ranges.findIndex(item => item.to === j);
                            ranges.splice(del_idx, 1);
                            break;
                        }
                    }catch (e) {
                        break;
                    }
                }while(!document.getElementById("checkbox-option2-" + j).checked);
                start = j;
            }
            range = {from: start, to: id};
            ranges.push(range);
        }
        //If the "to" is unchecked
        else{
            j = id;
            do{
                try{
                    j--;
                    if(document.getElementById("checkbox-option2-" + j).checked){
                        document.getElementById("checkbox-option2-" + j).checked = false;
                        document.getElementById("checkbox-option1-" + j).disabled = false;
                        break;
                    }
                    document.getElementById("checkbox-option1-" + j).checked = false;   //Uncheck "cell option"
                    document.getElementById("checkbox-option3-" + j).disabled = true;   //Disable the "to option"
                }catch (e) {
                    break;
                }
            }while(!document.getElementById("checkbox-option2-" + j).checked);
            // Remove the range from the ranges array
            let range_idx = ranges.findIndex(item => item.from === j && item.to === id);
            ranges.splice(range_idx,1);
            upcoming_cells_checkbox_handler(false, false, true, id);
        }
    }
    else if(value === 'cell'){
        if(document.getElementById("checkbox-option1-" + id).checked) {
            // Uncheck any other option of this cell
            document.getElementById("checkbox-option2-" + id).checked = false;
            if (id !== 1)
                document.getElementById("checkbox-option3-" + id).checked = false;
            // Enable the "Cell" and the "from" checkboxes and disable the "to" checkbox for all cells before another from-to range
            upcoming_cells_checkbox_handler(false, false, true, id);
        }
        else{
            // Check if the unchecked cell is within a from-to range
            var range = is_in_range(id);
            if(range !== -1){
                var before = id - 1;
                var after = id + 1;
                // If the previous cell has a "from" checked, then uncheck that and select "cell" instead
                if(before === range.from){
                    document.getElementById("checkbox-option2-" + before).checked = false;
                    document.getElementById("checkbox-option1-" + before).checked = true;
                }
                // Otherwise, if the previous cell has a "cell" checked, then uncheck that and select "to" instead
                else if(document.getElementById("checkbox-option1-" + before).checked){
                    document.getElementById("checkbox-option1-" + before).checked = false;
                    document.getElementById("checkbox-option3-" + before).checked = true;
                    let new_range = {from: range.from, to: before};
                    ranges.push(new_range);
                }
                // If the next cell has a "to" checked, then uncheck that and select "cell" instead
                if(after === range.to){
                    document.getElementById("checkbox-option3-" + after).checked = false;
                    document.getElementById("checkbox-option1-" + after).checked = true;
                }
                // Otherwise, if the next cell has a "cell" checked, then uncheck that and select "from" instead
                else if(document.getElementById("checkbox-option1-" + after).checked){
                    document.getElementById("checkbox-option1-" + after).checked = false;
                    document.getElementById("checkbox-option2-" + after).checked = true;
                    let new_range = {from: after, to: range.to};
                    ranges.push(new_range);
                }
            }
        }
    }
}

window.mathjax_url = "{{mathjax_url}}";
</script>

<link rel="stylesheet" href="{{ static_url("components/bootstrap-tour/build/css/bootstrap-tour.min.css") }}" type="text/css" />
<link rel="stylesheet" href="{{ static_url("components/codemirror/lib/codemirror.css") }}">

{{super()}}

<link rel="stylesheet" href="{{ static_url("notebook/css/override.css") }}" type="text/css" />
<link rel="stylesheet" href=""  id='kernel-css'                             type="text/css" />

{% endblock %}

{% block bodyclasses %}notebook_app {{super()}}{% endblock %}

{% block params %}

{{super()}}
data-base-url="{{base_url | urlencode}}"
data-ws-url="{{ws_url | urlencode}}"
data-notebook-name="{{notebook_name | urlencode}}"
data-notebook-path="{{notebook_path | urlencode}}"
{% endblock %}


{% block headercontainer %}


<span id="save_widget" class="save_widget">
    <span id="notebook_name" class="filename"></span>
    <span class="checkpoint_status"></span>
    <span class="autosave_status"></span>
</span>

{{super()}}

<span id="kernel_logo_widget">
  {% block kernel_logo_widget %}
  <img class="current_kernel_logo" alt="Current Kernel Logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
  {% endblock %}
</span>

{% endblock headercontainer %}

{% block header %}
<div id="menubar-container" class="container">
<div id="menubar">
    <div id="menus" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <button type="button" class="btn btn-default navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars"></i>
              <span class="navbar-text">{% trans %}Menu{% endtrans %}</span>
            </button>
            <p id="kernel_indicator" class="navbar-text indicator_area">
              <span class="kernel_indicator_name">{% trans %}Kernel{% endtrans %}</span>
              <i id="kernel_indicator_icon"></i>
            </p>
            <i id="readonly-indicator" class="navbar-text" title='{% trans %}This notebook is read-only{% endtrans %}'>
                <span class="fa-stack">
                    <i class="fa fa-save fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x text-danger"></i>
                </span>
            </i>
            <i id="modal_indicator" class="navbar-text"></i>
            <span id="notification_area"></span>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle" id="filelink" data-toggle="dropdown" aria-haspopup="true" aria-controls="file_menu">{% trans %}File{% endtrans %}</a>
                    <ul id="file_menu" class="dropdown-menu" role="menu" aria-labelledby="filelink">
                        <li id="new_notebook" class="menu_focus_highlight dropdown dropdown-submenu" role="none">
                            <a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">{% trans %}New Notebook{% endtrans %}<span class="sr-only">Dropdown</span></a>
                            <ul class="dropdown-menu" id="menu-new-notebook-submenu" role="menu">
                            </ul>
                        </li>
                        <li id="open_notebook" role="none"
                            title="{% trans %}Opens a new window with the Dashboard view{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Open...{% endtrans %}</a></li>
                        <!-- <hr/> -->
                        <li class="divider" role="none"></li>
                        <li id="copy_notebook" role="none"
                            title="{% trans %}Open a copy of this notebook's contents and start a new kernel{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Make a Copy...{% endtrans %}</a></li>
                        <li id="save_notebook_as" role="none"
                            title="{% trans %}Save a copy of the notebook's contents and start a new kernel{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Save as...{% endtrans %}</a></li>
                        <li id="rename_notebook" role="none"><a href="#" role="menuitem">{% trans %}Rename...{% endtrans %}</a></li>
                        <li id="save_checkpoint" role="none"><a href="#" role="menuitem">{% trans %}Save and Checkpoint{% endtrans %}</a></li>
                        <!-- <hr/> -->
                        <li class="divider" role="none"></li>
                        <li id="restore_checkpoint" class="menu_focus_highlight dropdown-submenu" role="none"><a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Revert to Checkpoint{% endtrans %}<span class="sr-only">Dropdown</span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                          </ul>
                        </li>
                        <li class="divider" role="none"></li>
                        <li id="print_preview" role="none"><a href="#" role="menuitem">{% trans %}Print Preview{% endtrans %}</a></li>
                        <li class="dropdown-submenu menu_focus_highlight" role="none"><a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Download as{% endtrans %}<span class="sr-only">Dropdown</span></a>
                            <ul id="download_menu" class="dropdown-menu">
                                {% for exporter in get_frontend_exporters() %}
                                <li id="download_{{ exporter.name }}">
                                    <a href="#">{{ exporter.display }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu hidden" role="none"><a href="#" role="menuitem">{% trans %}Deploy as{% endtrans %}</a>
                            <ul id="deploy_menu" class="dropdown-menu"></ul>
                        </li>
                        <li class="divider" role="none"></li>
                        <li id="trust_notebook" role="none"
                            title="{% trans %}Trust the output of this notebook{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Trust Notebook{% endtrans %}</a></li>
                        <li class="divider" role="none"></li>
                        <li id="close_and_halt" role="none"
                            title="{% trans %}Shutdown this notebook's kernel, and close this window{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Close and Halt{% endtrans %}</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" id="editlink" data-toggle="dropdown" aria-haspopup="true" aria-controls="edit_menu">{% trans %}Edit{% endtrans %}</a>
                    <ul id="edit_menu" class="dropdown-menu" role="menu" aria-labelledby="editlink">
                        <li id="cut_cell" role="none"><a href="#" role="menuitem">{% trans %}Cut Cells{% endtrans %}</a></li>
                        <li id="copy_cell" role="none"><a href="#" role="menuitem">{% trans %}Copy Cells{% endtrans %}</a></li>
                        <li id="paste_cell_above" class="disabled" role="none"><a href="#" role="menuitem" aria-disabled="true">{% trans %}Paste Cells Above{% endtrans %}</a></li>
                        <li id="paste_cell_below" class="disabled" role="none"><a href="#" role="menuitem" aria-disabled="true">{% trans %}Paste Cells Below{% endtrans %}</a></li>
                        <li id="paste_cell_replace" class="disabled" role="none"><a href="#" role="menuitem" aria-disabled="true">{% trans %}Paste Cells &amp; Replace{% endtrans %}</a></li>
                        <li id="delete_cell" role="none"><a href="#" role="menuitem">{% trans %}Delete Cells{% endtrans %}</a></li>
                        <li id="undelete_cell" class="disabled" role="none"><a href="#" role="menuitem" aria-disabled="true">{% trans %}Undo Delete Cells{% endtrans %}</a></li>
                        <li class="divider" role="none"></li>
                        <li id="split_cell" role="none"><a href="#" role="menuitem">{% trans %}Split Cell{% endtrans %}</a></li>
                        <li id="merge_cell_above" role="none"><a href="#" role="menuitem">{% trans %}Merge Cell Above{% endtrans %}</a></li>
                        <li id="merge_cell_below" role="none"><a href="#" role="menuitem">{% trans %}Merge Cell Below{% endtrans %}</a></li>
                        <li class="divider" role="none"></li>
                        <li id="move_cell_up" role="none"><a href="#" role="menuitem">{% trans %}Move Cell Up{% endtrans %}</a></li>
                        <li id="move_cell_down" role="none"><a href="#" role="menuitem">{% trans %}Move Cell Down{% endtrans %}</a></li>
                        <li class="divider" role="none"></li>
                        <li id="edit_nb_metadata" role="none"><a href="#" role="menuitem">{% trans %}Edit Notebook Metadata{% endtrans %}</a></li>
                        <li class="divider" role="none"></li>
                        <li id="find_and_replace" role="none"><a href="#" role="menuitem"> {% trans %}Find and Replace{% endtrans %} </a></li>
                        <li class="divider" role="none"></li>
                        <li id="cut_cell_attachments" role="none"><a href="#" role="menuitem">{% trans %}Cut Cell Attachments{% endtrans %}</a></li>
                        <li id="copy_cell_attachments" role="none"><a href="#" role="menuitem">{% trans %}Copy Cell Attachments{% endtrans %}</a></li>
                        <li id="paste_cell_attachments"  class="disabled" role="none"><a href="#" role="menuitem" aria-disabled="true">{% trans %}Paste Cell Attachments{% endtrans %}</a></li>
                        <li class="divider" role="none"></li>
                        <li id="insert_image" class="disabled" role="none"><a href="#" role="menuitem" aria-disabled="true">  {% trans %}Insert Image{% endtrans %} </a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" id="viewlink" data-toggle="dropdown" aria-haspopup="true" aria-controls="view_menu">{% trans %}View{% endtrans %}</a>
                    <ul id="view_menu" class="dropdown-menu" role="menu" aria-labelledby="viewlink">
                        <li id="toggle_header" role="none"
                            title="{% trans %}Show/Hide the logo and notebook title (above menu bar){% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Toggle Header{% endtrans %}</a>
                        </li>
                        <li id="toggle_toolbar" role="none"
                            title="{% trans %}Show/Hide the action icons (below menu bar){% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Toggle Toolbar{% endtrans %}</a>
                        </li>
                        <li id="toggle_line_numbers" role="none"
                            title="{% trans %}Show/Hide line numbers in cells{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Toggle Line Numbers{% endtrans %}</a>
                        </li>
                        <li id="menu-cell-toolbar" class="menu_focus_highlight dropdown-submenu" role="none">
                            <a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Cell Toolbar{% endtrans %}</a>
                            <ul class="dropdown-menu" id="menu-cell-toolbar-submenu"></ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" id="insertlink" data-toggle="dropdown" aria-haspopup="true" aria-controls="insert_menu">{% trans %}Insert{% endtrans %}</a>
                    <ul id="insert_menu" class="dropdown-menu" role="menu" aria-labelledby="insertlink">
                        <li id="insert_cell_above" role="none"
                            title="{% trans %}Insert an empty Code cell above the currently active cell{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Insert Cell Above{% endtrans %}</a></li>
                        <li id="insert_cell_below" role="none"
                            title="{% trans %}Insert an empty Code cell below the currently active cell{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Insert Cell Below{% endtrans %}</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" id="celllink" data-toggle="dropdown" aria-haspopup="true" aria-controls="cell_menu">{% trans %}Cell{% endtrans %}</a>
                    <ul id="cell_menu" class="dropdown-menu" role="menu" aria-labelledby="celllink">
                        <li id="run_cell" role="none" title="{% trans %}Run this cell, and move cursor to the next one{% endtrans %}">
                            <a role="menuitem" href="#">{% trans %}Run Cells{% endtrans %}</a></li>
                        <li id="run_cell_select_below" role="none" title="{% trans %}Run this cell, select below{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Run Cells and Select Below{% endtrans %}</a></li>
                        <li id="run_cell_insert_below" role="none" title="{% trans %}Run this cell, insert below{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Run Cells and Insert Below{% endtrans %}</a></li>
                        <li id="run_all_cells" role="none" title="{% trans %}Run all cells in the notebook{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Run All{% endtrans %}</a></li>
                        <li id="run_all_cells_above" role="none" title="{% trans %}Run all cells above (but not including) this cell{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Run All Above{% endtrans %}</a></li>
                        <li id="run_all_cells_below" role="none" title="{% trans %}Run this cell and all cells below it{% endtrans %}">
                            <a href="#" role="menuitem">{% trans %}Run All Below{% endtrans %}</a></li>
                        <li class="divider" role="none"></li>
                        <li id="change_cell_type" class="menu_focus_highlight dropdown-submenu" role="none"
                            title="{% trans %}All cells in the notebook have a cell type. By default, new cells are created as 'Code' cells{% endtrans %}">
                            <a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Cell Type{% endtrans %}</a>
                            <ul class="dropdown-menu" role="menu">
                              <li id="to_code" role="none"
                                  title="{% trans %}Contents will be sent to the kernel for execution, and output will display in the footer of cell{% endtrans %}">
                                  <a href="#">Code</a></li>
                              <li id="to_markdown"
                                  title="{% trans %}Contents will be rendered as HTML and serve as explanatory text{% endtrans %}">
                                  <a href="#">{% trans %}Markdown{% endtrans %}</a></li>
                              <li id="to_raw"
                                  title="{% trans %}Contents will pass through nbconvert unmodified{% endtrans %}">
                                  <a href="#">{% trans %}Raw NBConvert{% endtrans %}</a></li>
                            </ul>
                        </li>
                        <li class="divider" role="none"></li>
                        <li id="current_outputs" class="menu_focus_highlight dropdown-submenu" role="none"><a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Current Outputs{% endtrans %}</a>
                            <ul class="dropdown-menu" role="menu">
                                <li id="toggle_current_output" role="none"
                                    title="{% trans %}Hide/Show the output of the current cell{% endtrans %}">
                                    <a href="#">{% trans %}Toggle{% endtrans %}</a>
                                </li>
                                <li id="toggle_current_output_scroll"
                                    title="{% trans %}Scroll the output of the current cell{% endtrans %}">
                                    <a href="#">{% trans %}Toggle Scrolling{% endtrans %}</a>
                                </li>
                                <li id="clear_current_output"
                                    title="{% trans %}Clear the output of the current cell{% endtrans %}">
                                    <a href="#">{% trans %}Clear{% endtrans %}</a>
                                </li>
                            </ul>
                        </li>
                        <li id="all_outputs" class="menu_focus_highlight dropdown-submenu" role="none"><a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">{% trans %}All Output{% endtrans %}</a>
                            <ul class="dropdown-menu" role="menu">
                                <li id="toggle_all_output" role="none"
                                    title="{% trans %}Hide/Show the output of all cells{% endtrans %}">
                                    <a href="#">{% trans %}Toggle{% endtrans %}</a>
                                </li>
                                <li id="toggle_all_output_scroll"
                                    title="{% trans %}Scroll the output of all cells{% endtrans %}">
                                    <a href="#">{% trans %}Toggle Scrolling{% endtrans %}</a>
                                </li>
                                <li id="clear_all_output"
                                    title="{% trans %}Clear the output of all cells{% endtrans %}">
                                    <a href="#">{% trans %}Clear{% endtrans %}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="kernellink">{% trans %}Kernel{% endtrans %}</a>
                    <ul id="kernel_menu" class="dropdown-menu" aria-labelledby="kernellink">
                        <li id="int_kernel"
                            title="{% trans %}Send Keyboard Interrupt (CTRL-C) to the Kernel{% endtrans %}">
                            <a href="#">{% trans %}Interrupt{% endtrans %}</a>
                        </li>
                        <li id="restart_kernel"
                            title="{% trans %}Restart the Kernel{% endtrans %}">
                            <a href="#">{% trans %}Restart{% endtrans %}</a>
                        </li>
                        <li id="restart_clear_output"
                            title="{% trans %}Restart the Kernel and clear all output{% endtrans %}">
                            <a href="#">{% trans %}Restart &amp; Clear Output{% endtrans %}</a>
                        </li>
                        <li id="restart_run_all"
                            title="{% trans %}Restart the Kernel and re-run the notebook{% endtrans %}">
                            <a href="#">{% trans %}Restart &amp; Run All{% endtrans %}</a>
                        </li>
                        <li id="reconnect_kernel"
                            title="{% trans %}Reconnect to the Kernel{% endtrans %}">
                            <a href="#">{% trans %}Reconnect{% endtrans %}</a>
                        </li>
                        <li id="shutdown_kernel"
                            title="Shutdown the Kernel">
                            <a href="#">{% trans %}Shutdown{% endtrans %}</a>
                        </li>
                        <li class="divider" role="none"></li>
                        <li id="menu-change-kernel" class="menu_focus_highlight dropdown-submenu" role="menuitem">
                            <a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Change kernel{% endtrans %}</a>
                            <ul class="dropdown-menu" id="menu-change-kernel-submenu"></ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Help{% endtrans %}</a>
                    <ul  id="help_menu" class="dropdown-menu">
                        {% block help %}
                        <li id="notebook_tour" title="{% trans %}A quick tour of the notebook user interface{% endtrans %}"><a href="#">{% trans %}User Interface Tour{% endtrans %}</a></li>
                        <li id="keyboard_shortcuts" title="{% trans %}Opens a tooltip with all keyboard shortcuts{% endtrans %}"><a href="#">{% trans %}Keyboard Shortcuts{% endtrans %}</a></li>
                        <li id="edit_keyboard_shortcuts" title="{% trans %}Opens a dialog allowing you to edit Keyboard shortcuts{% endtrans %}"><a href="#">{% trans %}Edit Keyboard Shortcuts{% endtrans %}</a></li>
                        <li class="divider"></li>
                        {% set
                            sections = (
                                (
                                    ("http://nbviewer.jupyter.org/github/ipython/ipython/blob/3.x/examples/Notebook/Index.ipynb", _("Notebook Help"), True),
                                    ("https://help.github.com/articles/markdown-basics/",_("Markdown"),True),
                                ),
                            )
                        %}

						{% set openmsg = _("Opens in a new window") %}
                        {% for helplinks in sections %}
                            {% for link in helplinks %}
                                <li><a rel="noreferrer" href="{{link[0]}}" target="{{'_blank' if link[2]}}" title="{{openmsg if link[2]}}">
                                {% if link[2] %}
                                    <i class="fa fa-external-link menu-icon pull-right"></i>
                                {% endif %}

                                {{link[1]}}
                                </a></li>
                            {% endfor %}
                            {% if not loop.last %}
                                <li class="divider"></li>
                            {% endif %}
                        {% endfor %}
                        <li class="divider"></li>
                        <li title="{% trans %}About Jupyter Notebook{% endtrans %}"><a id="notebook_about" href="#">{% trans %}About{% endtrans %}</a></li>
                        {% endblock %}
                    </ul>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>

<div id="maintoolbar" class="navbar">
  <div class="toolbar-inner navbar-inner navbar-nobg">
    <div id="maintoolbar-container" class="container"></div>
  </div>
</div>
</div>

<div class="lower-header-bar"></div>

<div class="bg-modal-convert1"></div>
{% endblock header %}

{% block site %}

<div id="ipython-main-app">
    <div id="notebook_panel">
        <div id="notebook"></div>
        <div id='tooltip' class='ipython_tooltip' style='display:none'></div>
    </div>
</div>

<!--<div class="bg-modal-convert2">
    <div class="options-popup">
        <div class="convert-title-container">Convert Notebook into PDF</div>
        <form action="" id="export">
            <div class="popup-body">
                <label for="conv-radio-option1" class="radio-option">
                    <input type="radio" name="conv-radio-field" id="conv-radio-option1" class="radio-input" value="Exclude Code">
                    <div class="radio-radio"></div>
                    Exclude Code
                </label>
                <label for="conv-radio-option2" class="radio-option">
                    <input type="radio" name="conv-radio-field" id="conv-radio-option2" class="radio-input" value="Exclude Output">
                    <div class="radio-radio"></div>
                    Exclude Output
                </label>
                <label for="conv-radio-option3" class="radio-option">
                    <input type="radio" name="conv-radio-field" id="conv-radio-option3" class="radio-input" value="Keep All" checked>
                    <div class="radio-radio"></div>
                    Keep All
                </label>
                <div class="cell-range-container" style="font-family: monospace">
                    Cell Range:
                    <div id="cell-range" style="margin-left: 15px; font-family: monospace; font-size: 15px"></div>
                </div>
            </div>
            <a style="visibility: hidden" id="download" href="#" download="option.txt" target="_blank"></a>
            <div class="popup-bottom">
                <button type="submit" class="export-btn" style="font-size: 15px; margin-right: 5px; font-family: monospace">Export</button>
                <button type="button" class="cancel" style="font-size: 15px; margin-left: 5px; font-family: monospace">Cancel</button>
            </div>
        </form>
    </div>
</div>-->

<div class="bg-modal-convert2">
    <div class="modal-content" style="width: 500px">
        <div class="modal-header">
            <h4 class="modal-title">Convert Notebook into PDF</h4>
        </div>
        <form action="" id="export">
            <div class="modal-body popup-body">
                <div style="font-family: monospace">What do you want to export?</div>
                <label for="conv-radio-option1" class="radio-option">
                    <input type="checkbox" name="conv-radio-field" id="conv-radio-option1" class="radio-input" value="Code" checked>
                    <div class="radio-radio"></div>
                    Code
                </label>
                <label for="conv-radio-option2" class="radio-option">
                    <input type="checkbox" name="conv-radio-field" id="conv-radio-option2" class="radio-input" value="Output" checked>
                    <div class="radio-radio"></div>
                    Output
                </label>
                <label for="conv-radio-option3" class="radio-option">
                    <input type="checkbox" name="conv-radio-field" id="conv-radio-option3" class="radio-input" value="Markdown" checked>
                    <div class="radio-radio"></div>
                    Markdown
                </label>
                <!--<div class="cell-range-container">
                    Cell Range:
                    <input type="text" class="cell-range-field" id="cell-range">
                    <div class="help-tip">
                        <p>Enter cell numbers and/or cell ranges separated by commas (e.g. 2, 4-16, 19)</p>
                    </div>
                </div>-->
                <div class="cell-range-container" style="font-family: monospace">
                    Cell Range:
                    <div id="cell-range" style="margin-left: 15px; font-family: monospace; font-size: 15px"></div>
                </div>
            </div>
            <a style="visibility: hidden" id="download" href="#" download="option.txt" target="_blank"></a>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default btn-sm btn-primary">Export</button>
                <button type="button" class="btn btn-default btn-sm cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}


{% block after_site %}

<div id="pager">
    <div id="pager-contents">
        <div id="pager-container" class="container"></div>
    </div>
    <div id='pager-button-area'></div>
</div>

{% endblock %}

{% block script %}
{{super()}}
<script type="text/javascript">
    sys_info = {{sys_info|safe}};
</script>

<script src="{{ static_url("components/text-encoding/lib/encoding.js") }}" charset="utf-8"></script>

<script src="{{ static_url("notebook/js/main.min.js") }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
